services:
  decypharr:
    image: cy01/blackhole:${DECYPHARR_CHANNEL:-latest}
    container_name: decypharr
    restart: unless-stopped
    security_opt:
      - "apparmor:unconfined"
    devices:
      - /dev/fuse:/dev/fuse:rwm
    cap_add:
      - SYS_ADMIN
    expose:
      - 8282
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=002
    volumes:
      - /mnt:/mnt:rshared
      - ${DOCKER_DATA_DIR}/decypharr:/app
      - ./config.json:/app/config.json
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.decypharr.rule=Host(`${DECYPHARR_HOSTNAME?}`)"
      - "traefik.http.routers.decypharr.entrypoints=websecure"
      - "traefik.http.routers.decypharr.tls.certresolver=letsencrypt"
      - "traefik.http.routers.decypharr.middlewares=authelia@docker"
      - "traefik.http.services.decypharr.loadbalancer.server.port=8282"
    profiles:
      - decypharr
      - all
